body {
    padding-top: 70px;
    font-family: 'Roboto', 'Noto Sans JP', 'Meiryo', sans-serif;
    font-size: 12pt;
    border-radius: 0;
    color: black;
    background-color: white;
}

a {
    color: gray;
}

a:hover {
    color: darkslategray;
    text-decoration: none;
    background-color: lightgray;
}

pre {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

.navbar {
    padding: 0;
    background-color: black;
    border-width: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-family: 'Titillium Web', 'Meiryo', sans-serif;
}

.navbar-toggle {
    border-radius: 0;
}

/* Hamburger */
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* Brand Logo */
.navbar-header > a.navbar-brand {
    color: white;
}

.navbar-header > a.navbar-brand:hover {
    color: white;
}

/* Links in Header */
.navbar-default .navbar-nav > li > a {
    color: lightgray;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
    text-decoration: none;
    background-color: dimgray;
}

/** Footer */
.navbar-default .navbar-text {
    color: white;
}

/** Links in Footer */
.navbar-text > a {
    color: lightgray;
}

.navbar-text > a:hover {
    color: white;
    background-color: dimgray;
}
